* {
  font-family: Helvetica, sans-serif, arial;
}

body {
  padding: 60px;
}

input {
  border-color: rgb(171, 238, 176);
  color: rgb(50, 50, 207);
  font-size: 1.2rem;
  width: 100%;
  border-radius: 5px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid rgb(211, 208, 208);
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}

